{% extends "base2.html" %}
{% block about %}

                <!-- content -->
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header bootstrap-admin-content-title">
                                <a href="https://github.com/teshomem/clims-dev.git" class="action btn">
                                    Go to GitHub &raquo;
                                </a>
<!--
                                <a href="#" class="action">
                                    <button class="btn btn-success">Download CLIMS templates (.zip)</button>
                                </a>
-->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">Development</div>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                    <ul>
                                        <li>Inspired by and based on  <a href="https://docs.djangoproject.com/en/1.7/" target="_blank">Django 1.7</a></li>
                                        <li>Import Export theme built with <a href="https://github.com/bmihelac/django-import-export" target="_blank">Django Import Export</a></li>
                                        <li>An admin theme built with <a href="http://getbootstrap.com" target="_blank">Bootstrap 3.x.</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">Source</div>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                    <ul>
                                        <li>
                                            <a href="https://github.com/teshomem/clims-dev" target="_blank">Github Repository</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/teshomem/clims-dev/archive/master.zip">Download (.zip package)</a>
                                        </li>
                                        <li>
                                            <a href="#">Documentation</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">CIGENE Laboratory Management Information System</div>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                    <p> Usage</p>
                                        <li>
                                            <a href="http://10.209.0.223/clims-templates.zip">Download CLIMS templates (.zip)</a>
                                        </li>
                                    <p> </p>
                                    <p> </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

{% endblock %}

